html {
  font-size: 16px;
}

body {
  color: #003147;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.container-fluid {
  max-width: 1440px;
  margin: 0 auto;
}

input[type="checkbox"][disabled] {
  outline: 1px solid red;
}
input[type="checkbox"]:disabled:checked {
  background: #0f0;
  color: #0ff;
  background-color: #ff0;
  outline: 1px solid #888;
}

.title-box {
  position: absolute;
  text-align: center;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.primary-title {
  font-family: "Maven Pro", sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
}
.primary-subtitle {
  font-family: "Maven Pro", sans-serif;
  text-shadow: 2px 2px 4px #000000;
}

#mainpanel {
  background-color: #eceff0;
  padding-left: 0;
  padding-right: 0;
}

.tab-content {
  padding-left: 10%;
  padding-right: 10%;
}

.shiny-file-input-progress {
  display: none;
}

.h2,
h2,
.h3,
h3 {
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: 900 !important;
}

.h2,
h2 {
  font-size: 28px;
  line-height: 35px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.h3,
h3 {
  font-size: 20px;
  line-height: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.h4,
h4 {
  color: #003147;
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.h5,
h5 {
  color: #003147;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.h6,
h6 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #003147;
}

.subheader {
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 35px;
}

hr {
  border-top: 1px solid #d4dde1 !important;
}

p strong {
  font-weight: 900;
}

/** Tab panels **/

.nav-tabs {
  padding-left: 10%;
  padding-right: 10%;
  background-color: #d4dde1 !important;
}

#myFirst > li > a {
  color: #607781 !important;
  height: 80px;
  box-sizing: border-box;
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 35px;
  padding-top: 20px;
  padding-bottom: 16px;
  /* width: 200px; */
}

#myFirst > li.active > a {
  background-color: unset !important;
  color: #003147 !important;
  font-weight: bold;
  border-bottom: 4px solid #00c7a8 !important;
}
#myFirst > li > a:hover {
  background-color: transparent !important;
  color: #003147 !important;
  font-weight: bold;
  border-color: transparent;
  border-bottom: 4px solid transparent;
}

ul {
  padding-left: 10%;
  padding-right: 10%;
}

#myFirst li a[data-value='<img src="icons/arrow.svg"/>'] {
  pointer-events: none !important;
  cursor: not-allowed;
  width: 75px;
}

#myFirst li a[disabled] {
  pointer-events: none !important;
  cursor: not-allowed;
  color: #aebbbf !important;
}

.arrowico {
  top: 4px;
  color: #bbb;
}

.dangerico {
  color: #bf2f37;
  font-size: 80px !important;
}
.nodangerico {
  color: #00c7a8;
  font-size: 80px !important;
}

.arrow {
  /* arrow */
  position: relative;
  width: 46.85px;
  height: 32.74px;
  opacity: 0.2;

  /* Group */
  position: absolute;
  left: 9.02%;
  right: 10.35%;
  top: 10.31%;
  bottom: 10.31%;

  /* Vector */
  position: absolute;
  left: 9.02%;
  right: 15.5%;
  top: 50%;
  bottom: 50%;

  /* MFE grey dark */
  border: 3px solid #607781;

  /* Vector */
  position: absolute;
  left: 61.92%;
  right: 10.35%;
  top: 10.31%;
  bottom: 10.31%;

  /* MFE grey dark */
  border: 3px solid #607781;
}

.twocols {
  column-count: 2;
  column-gap: 40px;
}

h6 > ul,
h6 > li {
  list-style-type: disc;
  list-style-position: inside;
  text-indent: -1em;
  padding-left: 1.2em !important;
}

#issues-panel {
  background-color: unset;
  border: unset;
  box-shadow: unset;
  padding-top: 0px;
  padding-left: 0px;
}

.smallcol {
  width: 120px;
  border-right: 1px solid #d4dde1 !important;
}

#mandfields {
  pointer-events: none !important;
  cursor: not-allowed;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #003147;
}

.fa-check {
  color: #00c7a8;
  font-size: 20px !important;
}

#mandfields .control-label {
  padding-bottom: 15px;
}

.pretty.p-icon .state .icon {
  top: calc((0% - (100% - 0.5em)) - 8%) !important;
}

#mandfields input[type="checkbox"]:not(:checked) {
  background-color: #fff !important;
  background: #fff !important;
  border: 0;
}

#mandfields .state label:before {
  background-color: #fff !important;
  border: 0;
}

#mandfields .state label span {
  margin-left: 10px;
  padding-bottom: 2px;
}

#rescol1,
#rescol2 {
  padding-left: 15px;
  padding-right: 15px;
}

.legend i {
  vertical-align: unset;
}

/* header & footer styling */

#header {
  position: relative;
  width: 100%;
  max-height: 220px;
  min-height: 120px;
  padding-bottom: 15.64%;
  background-image: url(../images/header_Kokopu.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#header-div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  width: 100%;
  height: 100%;
  max-height: 220px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header-col {
  width: 33.33%;
}

#title-container {
  text-align: center;
}

#main-title {
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 26pt;
  color: #fff;
}

.header-img {
  width: 100%;
  max-width: 248px;
  margin-left: 15%;
}

.cr-text {
  position: absolute;
  bottom: 2px;
  right: 15px;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #d4dde1;
  opacity: 0.5;
}

#footer {
  position: relative;
  width: 100%;
  max-height: 200px;
  padding-bottom: 13.89%;
  background-color: #1b556b;
}

#footer-div {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  max-height: 200px;
}

.footer-img {
  width: 100%;
}
