.select-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* label for issues select */
.input-label {
  color: $mfe-black;
  font-size: 1rem;
  font-weight: 400;
}

.select-label {
  margin-right: 40px;
}

.select-menu {
  margin-right: 30px;
}

selectize-input.items {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
}

selectize-input.item {
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* option for select input */
.option {
  font-size: 14px;
  position: relative;
  padding-left: 2rem !important;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border: 1px solid #d4dde1;
    border-radius: 2000px;
    background-color: #eceff0;
  }
  &.active {
    background-color: #eceff0;
    &.selected {
      background-color: #eceff0;
    }
  }
  &.active {
    // background-color: #ffffff;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0px;
      transform: translateY(-50%);
      width: 15px;
      height: 15px;
      border: 1px solid #d4dde1;
      border-radius: 2000px;
      background-color: #eceff0;
      background-color: $mfe-green-bright;
    }
  }
}

/* inner text elements */
div.item {
  font-size: 1rem;
  font-weight: 700;
}
