@import url("https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:wght@900&display=swap");

.dataTables_wrapper {
  background-color: #eceff0;
}

table.dataTable thead th,
table.dataTable thead td {
  background-color: #d4dde1;
  border-bottom: unset !important;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  color: #003147;
  padding-left: 15px !important;
}

table.dataTable tbody {
  border: 1px solid #607781;
}

table.dataTable.no-footer {
  border: unset !important;
}
table.dataTable tbody td {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #003147;
  padding-left: 15px !important;
}

.dataTables_info,
.dataTables_paginate {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #003147;
}

table {
  border-collapse: collapse;
}

table td + td,
table tr + tr {
  border-left: 1px solid #d4dde1;
}
table td {
  border-bottom: 1px solid #d4dde1;
  padding: 2px !important;
}
table thead th + th,
table thead td + td {
  border-left: 1px solid #607781;
  border-collapse: collapse;
}

td[title="Value should be numeric"] {
  background-color: rgba(255, 0, 0, 0.05) !important;
}

/* .dataTables_scrollHeadInner{ */
/* overflow:auto; */
/* width:100%; */
/* position:relative; */
/* } */
/* .dataTables_scrollHeadInner table { */
/* overflow:auto; */
/* width:100%; */
/* position:relative; */
/* } */

#dtable {
  overflow: auto;
  width: 100%;
  position: relative;
}

#dtable td {
  white-space: nowrap;
}

#dtable thead th,
#dtable thead td {
  background-color: #d4dde1;
  border-bottom: unset !important;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  color: #003147;
  padding-left: 15px !important;
}

#dtable tbody {
  border: 1px solid #607781;
}

#dtable.no-footer {
  border: unset !important;
}
#dtable tbody td {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #003147;
  padding-left: 15px !important;
}

#dtable_info,
#dtable_paginate {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #003147;
}

/* #dtable rt-td { */
/*     white-space: nowrap; */
/* } */

#dtable rt-thead rt-th,
#dtable rt-thead rt-td {
  background-color: #d4dde1;
  border-bottom: unset !important;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  color: #003147;
  padding-left: 15px !important;
}

#dtable rt-tbody {
  border: 1px solid #607781;
}

#dtable.no-footer {
  border: unset !important;
}
#dtable rt-tbody rt-td {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #003147;
  padding-left: 15px !important;
}

#dtable_info,
#dtable_paginate {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #003147;
}

.ReactTable rt-table rt-thead rt-th,
.ReactTable rt-table rt-thead rt-td {
  background-color: #d4dde1;
  border-bottom: unset !important;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  color: #003147;
  padding-left: 15px !important;
}

.ReactTable rt-table rt-tbody {
  border: 1px solid #607781;
}

.ReactTable rt-table.no-footer {
  border: unset !important;
}
rt-table rt-tbody rt-td {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #003147;
  padding-left: 15px !important;
}
.ReactTable {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #003147;
  padding-left: 15px !important;
  background-color: #eceff0;
}

.ReactTable .rt-table_info,
.ReactTable .rt-table_paginate {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #003147;
}

.ReactTable .pagination-bottom {
  background-color: #eceff0;
}

.ReactTable .rt-tr-group,
.ReactTable .rt-tr {
  background-color: #fff;
}

.cellwarning {
  background-color: #93edf9;
  color: "#003547";
  font-weight: normal;
}
.cellerror {
  background-color: #eebabd;
  color: "#003547";
  font-weight: normal;
}

CellWithComment {
  position: relative;
}

.CellComment {
  display: none;
  position: absolute;
  z-index: 100;
  border: 1px;
  background-color: #bf2f37;
  border-style: solid;
  border-width: 1px;
  border-color: #bf2f37;
  padding: 3px;
  color: white;
  top: 20px;
  left: 20px;
}
.CellWithComment:hover span.CellComment {
  display: block;
}
