@import url("https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:wght@900&display=swap");

.dataTables_wrapper {
  background-color: #eceff0;
}

table.dataTable thead th,
table.dataTable thead td {
  background-color: #d4dde1;
  border-bottom: unset !important;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  color: #003147;
  padding-left: 15px !important;
}

table.dataTable tbody {
  border: 1px solid #607781;
}

table.dataTable.no-footer {
  border: unset !important;
}
table.dataTable tbody td {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #003147;
  padding-left: 15px !important;
}

table {
  border-collapse: collapse;
}

table td + td,
table tr + tr {
  border-left: 1px solid #d4dde1;
}
table td {
  border-bottom: 1px solid #d4dde1;
  padding: 2px !important;
}
table thead th + th,
table thead td + td {
  border-left: 1px solid #607781;
  border-collapse: collapse;
}

td[title="Value should be numeric"] {
  background-color: rgba(255, 0, 0, 0.05) !important;
}

/* React table */

.ReactTable .rt-table .rt-thead .rt-th,
.ReactTable .rt-table .rt-thead .rt-td {
  background-color: #d4dde1;
  border-bottom: unset !important;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  color: #003147;
  padding-left: 15px !important;
}

.ReactTable .rt-tr .rt-align-left,
.ReactTable .rt-tr .rt-align-right {
  border-right: 1px solid rgba(96, 119, 129, 0.6);
}

.rt-table .rt-tbody .rt-td {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #003147;
  padding-left: 15px !important;
  border-right: 1px solid rgba(96, 119, 129, 0.6);
}

.ReactTable {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #003147;
  padding-left: 15px !important;
  background-color: #eceff0;
}

.ReactTable .rt-table_info,
.ReactTable .rt-table_paginate {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #003147;
}

.ReactTable .rt-tr-group {
  background-color: #fff;
}

/* paginate */

.rt-pagination {
  margin-top: 30px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.rt-pagination .rt-page-button {
  height: 100%;
}

.rt-page-button:hover {
  color: #fff;
  font-weight: 800;
  background-color: #1b556b;
}

.rt-page-button-current {
  background-color: #d4dde1;
}

/* interactive cells */

.cellwarning {
  background-color: #93edf9;
  color: "#003547";
  font-weight: normal;
}
.cellerror {
  background-color: #eebabd;
  color: "#003547";
  font-weight: normal;
}

CellWithComment {
  position: relative;
}

.CellComment {
  display: none;
  position: absolute;
  z-index: 100;
  border: 1px;
  background-color: #bf2f37;
  border-style: solid;
  border-width: 1px;
  border-color: #bf2f37;
  padding: 3px;
  color: white;
  top: 20px;
  left: 20px;
}
.CellWithComment:hover span.CellComment {
  display: block;
}
