@import url("https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:wght@900&display=swap");

#select-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#select-label {
  margin-right: 40px;
}

#select-1 {
  margin-right: 30px;
}

div.item {
  font-size: 12pt;
}

.table-header {
  font-family: "Merriweather", serif;
  font-weight: 900;
}
