@import url("https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:wght@900&display=swap");

.select-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.select-label {
  margin-right: 40px;
}

.select-menu {
  margin-right: 30px;
}

div.item {
  font-size: 12pt;
}

.shiny-spinner-output-container {
  background-color: #fff;
}

.key-line {
  border: 1px solid #607781;
}
